<section class="my__testimonal">
    <h1 class="pt-4 text-danger font-weight-bold text-center">We Can Do</h1>
    <div class="testimonal pt-4">
        <div class="row">
            <div class="col-md-5 text-center testimonal__left ">
                <h2 class="text-danger font-weight-bold">Nor again anyone who loves pursues desires</h2>
                <p class="text-white">But I must explain to you how all this mistaken idea of denouncing pleasure
                    and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of
                    the great explorer of the truth, the master-builder of human happiness. No one rejects,
                    dislikes, or avoids</p>
                <button class="btn btn__tes">Read More</button>
            </div>
            <div class="col-md-7 testimonal__right">
                <div class="row">
                    <div class="card border-secondary mb-3 text-center m-3" style="max-width: 15rem;">
                        <div class="card-header text-danger font-weight-bold">Front End</div>
                        <div class="card-body text-secondary">
                            <p class="card-text">FRONT END PROGRAMMING PRO</p>
                        </div>
                    </div>
                    <div class="card border-secondary mb-3 m-3 text-center" style="max-width: 15rem;">
                        <div class="card-header text-danger font-weight-bold">Back End</div>
                        <div class="card-body text-secondary">
                            <p class="card-text">PROGRAM BACK END WEB SPECIALIST</p>
                        </div>
                    </div>
                    <div class="card border-secondary mb-3 m-3 text-center" style="max-width: 15rem;">
                        <div class="card-header text-danger font-weight-bold">Full Stack</div>
                        <div class="card-body text-secondary">
                            <p class="card-text">FULLSTACK PROGRAMMING</p>
                        </div>
                    </div>
                    <div class="card border-secondary mb-3 m-3 text-center" style="max-width: 15rem;">
                        <div class="card-header text-danger font-weight-bold">Java</div>
                        <div class="card-body text-secondary">
                            <p class="card-text">JAVA PROGRAMMING PROFESSION</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
