<div class="carousel-course">
    <div class="row">
      <div class="col-md-8 content-carousel">
        <h2>
          The Business Intelligence Analyst <br /> Course 2020
        </h2>
        <p class="title">
          The skills you need to become a BI Analyst - Statistics, Database
          theory, <br />
          SQL, Tableau – Everything is included
        </p>
        <div class="rating d-flex">
          <div class="rating__start">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <p class="content pl-3">4.5 (10,596 ratings)</p>
        </div>
        <p class="content">62,858 students enrolled</p>
        <p class="content">Created by 365 Careers</p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
