<section class="w3l-login-6">
    <div class="login-hny">
        <div class="form-content">
            <div class="form-right">
                <div class="overlay">
                    <div class="grid-info-form">
                        <h5>Say hello</h5>
                        <h3>CREATE ACCOUNT </h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est natus facere aperiam!
                            Tenetur maiores dolore a quod pariatur ut voluptates quae saepe ea quasi laudantium,
                            iste molestias inventore fuga assumenda.</p>
                        <!-- <a href="index.html" class="read-more-1 btn">Get Started</a> -->
                        <button mat-flat-button color="warn" style="width: 150px;">Get Started</button>
                    </div>

                </div>
            </div>
            <div class="form-left">
                <div class="middle">
                    <h4>Join Us</h4>
                    <p>Create Your Account, It's Free.</p>
                </div>
                <form class="signin-form" #dangNhapForm="ngForm" (submit)="handleSignIn(dangNhapForm)">
                    <div class="form-input">
                        <label>Name</label> <br>
                        <input type="text" name="taiKhoan" ngModel required #txtTaiKhoan="ngModel" />
                        <div *ngIf="txtTaiKhoan.errors && (txtTaiKhoan.touched || txtTaiKhoan.dirty)">
                            <div *ngIf="txtTaiKhoan.errors.required" class="alert alert-danger">
                                Vui Lòng Nhập Tài Khoản
                            </div>
                        </div>
                    </div>
                    <div class="form-input">
                        <label>Password</label>
                        <input type="password" name="matKhau" required ngModel #txtMatKhau = "ngModel" />
                        <div *ngIf="txtMatKhau.errors && (txtMatKhau.touched || txtMatKhau.dirty)">
                            <div *ngIf="txtMatKhau.errors.required" class="alert alert-danger">
                                Vui Lòng Nhập Mật Khẩu
                            </div>
                        </div>
                    </div>
                    <button mat-flat-button color="warn" style="width: 365px;">Đăng Nhập</button>
                </form>
            </div>

        </div>
    </div>
</section>