<section class="my__terms">
    <div class="term__line">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="footer__contact">
                <a href="#">MINDSET</a>
                <span class="copy__right">Copyright © 2019 MindSet, Inc.</span>
            </div>
        </div>
        <div class="col-md-6 text-right my__privacy">
            <span>Terms</span>
            <span>Privacy Policy and Cookie Policy</span>
        </div>
    </div>
</section>
