<div class="testimonials-section feelPeople">
    <div class="row">
        <div class="col testimonials-title text-center">
            <h1>TESTIMONIALS</h1>
            <span>When Climbing The Carrer Ladder</span>
            <div class="start__line welcome__line mx-auto mt-3  mb-5"></div>
        </div>
    </div>
    <div class="container testimonials-slider">
        <owl-carousel-o [options]="customOptions" class="text-white">
            <ng-template carouselSlide>
                <div class="item__box mx-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptatibus?</p>
                </div>
                <div class="item__user">
                    <img src="../../../assets/img/h2.jpg" alt="12" class="container-fluid">
                    <p>Steven</p>
                    <span>Vesibulum</span>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item__box mx-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptatibus?</p>
                </div>
                <div class="item__user">
                    <img src="../../../assets/img/h2.jpg" alt="12" class="container-fluid">
                    <p>Steven</p>
                    <span>Vesibulum</span>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item__box mx-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptatibus?</p>
                </div>
                <div class="item__user">
                    <img src="../../../assets/img/h2.jpg" alt="12" class="container-fluid">
                    <p>Steven</p>
                    <span>Vesibulum</span>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item__box mx-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, voluptatibus?</p>
                </div>
                <div class="item__user">
                    <img src="../../../assets/img/h2.jpg" alt="12" class="container-fluid">
                    <p>Steven</p>
                    <span>Vesibulum</span>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>