<section class="myTeam pb-5">
    <div class="container">
        <div class="staffHeader text-center">
            <h2 class="text-danger font-weight-bold pt-5 pb-3">Faculty Members</h2>
            <p class="pb-4">If you are looking at blank cassettes on the web, you may be very confused at the
                difference in
                price. <br> You may see some for as low as $.17 each.</p>
        </div>
        <div class=" row staffMember">
            <div class="col-lg-3 col-md-6 col-sm-12 staff">
                <div class="staffImg d-flex justify-content-center">
                    <img style="width: 150px; height: 160px;" src="../../../assets/img/t1.jpg" alt="...">
                </div>
                <div class="staffContent text-center">
                    <h4 class="name">Ethel Davis</h4>
                    <p class="content">Sr. Faculty Data Science</p>
                    <div class="feedBack">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.
                        </p>
                    </div>
                    <div class="connect">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab mx-3 fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 staff">
                <div class="staffImg d-flex justify-content-center">
                    <img style="width: 150px; height: 160px;" src="../../../assets/img/t2.jpg" alt="...">
                </div>
                <div class="staffContent text-center">
                    <h4 class="name">Rodney Cooper</h4>
                    <p class="content">Sr. Faculty Data Science</p>
                    <div class="feedBack">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.
                        </p>
                    </div>
                    <div class="connect">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab mx-3 fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 staff">
                <div class="staffImg d-flex justify-content-center">
                    <img style="width: 150px; height: 160px;" src="../../../assets/img/t3.jpg" alt="...">
                </div>
                <div class="staffContent text-center">
                    <h4 class="name">Dora Walker</h4>
                    <p class="content">Sr. Faculty Data Science</p>
                    <div class="feedBack">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.
                        </p>
                    </div>
                    <div class="connect">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab mx-3 fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 staff">
                <div class="staffImg d-flex justify-content-center">
                    <img style="width: 150px; height: 160px;" src="../../../assets/img/t4.jpg" alt="...">
                </div>
                <div class="staffContent text-center">
                    <h4 class="name">Lena Keller</h4>
                    <p class="content">Sr. Faculty Data Science</p>
                    <div class="feedBack">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.
                        </p>
                    </div>
                    <div class="connect">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab mx-3 fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
