<footer class="my__footer">
    <div class="footer__link">
        <div class="footer__content">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="business">
                        <p>Mindset for Business</p>
                    </a>
                    <a href="#" class="teach">
                        <p>Teach on MindSet</p>
                    </a>
                    <a href="#">
                        <p>Mindset app</p>
                    </a>
                    <a href="#">
                        <p>About us</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <p>Careers</p>
                    </a>
                    <a href="#">
                        <p>Blog</p>
                    </a>
                    <a href="#">
                        <p>Help And Suport</p>
                    </a>
                    <a href="#">
                        <p>Affiliate</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <p>Sitemap</p>
                    </a>
                    <a href="#">
                        <p>Featured coures</p>
                    </a>
                </div>
                <div class="col-md-3 my-5">
                    <span class="border">
                        English
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>