<section class="my__features container">
    <h1 class="text-danger text-center font-weight-bold p-5">Features</h1>
    <div class="row text-center">
        <div class="col-md-3">
            <img style="width: 100%;" src="../../../assets/img/h31.png" alt="..">
            <div class="features__content">
                <h3>Teamwork</h3>
                <p>You learn how to work in teams effectively</p>
            </div>
        </div>
        <div class="col-md-3">
            <img style="width: 100%; height: 52%;" src="../../../assets/img/h32.png" alt="..">
            <div class="features__content">
                <h3>Thinking</h3>
                <p>Increase the ability of students to think</p>
            </div>
        </div>
        <div class="col-md-3">
            <img style="width: 100%;height: 52%;" src="../../../assets/img/h33.png" alt="..">
            <div class="features__content">
                <h3>Code Pro</h3>
                <p>Learn how to code fast and save time</p>
            </div>
        </div>
        <div class="col-md-3">
            <img style="width: 100%; height: 52%;" src="../../../assets/img/h34.png" alt="..">
            <div class="features__content">
                <h3>Mentor Support</h3>
                <p>The mentor assists in the learning process</p>
            </div>
        </div>
    </div>
</section>
