<section class="my__course mb-5">
    <div class="course__content">
        <h2 class="text-center pb-4 text-danger font-weight-bold">My Course</h2>
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="course__intro">
                    <h2>The world’s largest selection of courses</h2>
                    <p>Choose from over 100,000 online video courses with new additions published every month</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="my__Tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#business"
                                role="tab" aria-controls="nav-home" aria-selected="true">Front End</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#design"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Back End</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#photography"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Full Stack</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#development"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Development</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#marketing"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Python</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#IT"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Java</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="business" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="course__item">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="tab-pane fade show active" id="business" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="course__item ">
                                
                                  
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="photography" role="tabpanel"
                            aria-labelledby="nav-contact-tab">
                            <div class="tab-pane fade show active" id="business" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="course__items ">
                                    
                                   
                                    
                                    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="development" role="tabpanel"
                            aria-labelledby="nav-contact-tab">
                            <div class="tab-pane fade show active" id="business" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="course__item">
            
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="marketing" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="tab-pane fade show active" id="business" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="course__item ">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="IT" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="tab-pane fade show active" id="business" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="course__item">
                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
